body{
    display: block;
	background-color: rgb(60, 60, 60);
}

p{
	text-align: center;
	color: white;
}
h5{

	text-align: match-parent;
	color: white;
}


footer{
	padding: 50px;
text-align: center;
}
